 .app-banner .flex {
     justify-content: space-between;
 }

 .app-banner {
     background-color: rgba(0, 47, 52, .03);
     color: #002f34;
 }


 .app-text h2 {
     font-size: 40px;
 }

 .app-banner p {
     font-size: 20px;
     letter-spacing: 0px;
     margin-top: 10px;
 }

 .app-stores{
    border-left: 1px solid rgb(183, 183, 183);
    padding:20px 0 20px 20px;
 }

 .app-stores h3{
    font-size: 14px;
    margin-bottom: 10px;
 }
 .store-img img {
     width: 130px !important;
     margin-right: 10px;
 }